<header class="header--style-1 header--box-shadow">

            <!--====== Nav 1 ======-->
            <nav class="primary-nav primary-nav-wrapper--border">
                <div class="container">

                    <!--====== Primary Nav ======-->
                    <div class="primary-nav">

                        <!--====== Main Logo ======-->

                        <a class="main-logo" href="index.html">

                            <img style="width:200px" src="/images/logo/logo.jpg" alt=""></a>
                        <!--====== End - Main Logo ======-->


                        <!--====== Search Form ======-->
                        
                        
                        <form class="main-form" action="/articles" method="GET">
                            <label for="main-search"></label>
                            <input class="input-text input-text--border-radius input-text--style-1" type="search" id="main-search" name="query" placeholder="Rechercher">
                            <button class="btn btn--icon fas fa-search main-search-button" type="submit"></button>
                        </form>
                        <!--====== End - Search Form ======-->


                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation">

                            <button class="btn btn--icon toggle-button fas fa-cogs" type="button"></button>

                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Close</span>

                                <!--====== List ======-->
                                <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                                    <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="Account">

                                        <a><i class="far fa-user-circle"></i></a>

                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <ul style="width:120px">
                                            <li>

                                                <a href="/user/dashboard"><i class="fas fa-user-circle u-s-m-r-6"></i>

                                                    <span>Mon compte</span></a></li>
                                            <li>

                                                <a href="/signup"><i class="fas fa-user-plus u-s-m-r-6"></i>

                                                    <span>S'inscrire</span></a></li>
                                            <li>

                                                <a href="/signin"><i class="fas fa-lock u-s-m-r-6"></i>

                                                    <span>Se connecter</span></a></li>
                                            <li>

                                                <a href="javascript:void(0);" onclick="logout()">
                                                    <i class="fas fa-lock-open u-s-m-r-6"></i>
                                                    <span>Déconnecter</span>
                                                  </a>
                                            </li>
                                        </ul>
                                        
                                        <!--====== End - Dropdown ======-->
                                    </li>
                                    <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="Settings">

                                        <a><i class="fas fa-user-cog"></i></a>

                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <ul style="width:120px">
                                            <li class="has-dropdown has-dropdown--ul-right-100">

                                                <a>Language<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                                <!--====== Dropdown ======-->

                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:120px">
                                                    <li>

                                                        <a class="u-c-brand">ENGLISH</a></li>
                                                    <li>

                                                        <a>ARABIC</a></li>
                                                    <li>

                                                        <a>FRANCAIS</a></li>
                                                    <li>

                                                        <a>ESPANOL</a></li>
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>
                                            <li class="has-dropdown has-dropdown--ul-right-100">

                                                <a>Currency<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                                <!--====== Dropdown ======-->

                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:225px">
                                                    <li>

                                                        <a class="u-c-brand">$ - US DOLLAR</a></li>
                                                    <li>

                                                        <a>£ - BRITISH POUND STERLING</a></li>
                                                    <li>

                                                        <a>€ - EURO</a></li>
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>
                                        </ul>
                                        <!--====== End - Dropdown ======-->
                                    </li>
                                    <li data-tooltip="tooltip" data-placement="left" title="Contact">

                                        <a href="tel:+0900901904"><i class="fas fa-phone-volume"></i></a></li>
                                    <li data-tooltip="tooltip" data-placement="left" title="Mail">

                                        <a href="mailto:contact@domain.com"><i class="far fa-envelope"></i></a></li>
                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>
                        <!--====== End - Dropdown Main plugin ======-->
                    </div>
                    <!--====== End - Primary Nav ======-->
                </div>
            </nav>
            <!--====== End - Nav 1 ======-->


            <!--====== Nav 2 ======-->
            <nav class="secondary-nav-wrapper">
                <div class="container">

                    <!--====== Secondary Nav ======-->
                    <div class="secondary-nav">

                        <!--====== Dropdown Main plugin ======-->
                        
                        <!--====== End - Dropdown Main plugin ======-->


                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation2">

                            <button class="btn btn--icon toggle-button fas fa-cog" type="button"></button>

                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Close</span>

                                <!--====== List ======-->
                                <ul class="ah-list ah-list--design2 ah-list--link-color-secondary">
                                    <li>

                                        <a href="/accueil">ACCUEIL</a>
                                    </li>
                                    <li>
                                        <a href="/cart">PANIER</a>
                                    </li>
                                    <li>

                                        <a href="/articles">ARTICLES</a>
                                    </li>
                                    <li>

                                        <a href="/contact">CONTACT</a>
                                    </li>
                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>
                        <!--====== End - Dropdown Main plugin ======-->

                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation3">

                            <button class="btn btn--icon toggle-button fas fa-shopping-bag toggle-button-shop" type="button"></button>

                            <% if (typeof carts !== 'undefined' && carts.length > 0) { %>
                                <span class="total-item-round">
                                    <%=`${carts.length}`%>
                                </span>
                            <% } %>

                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Fermer</span>

                                <!--====== List ======-->
                                <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                                    <li>

                                        <a href="/accueil"><i class="fas fa-home"></i></a></li>
                                    <li>

                                        <a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                    <li class="has-dropdown">

                                        <a class="mini-cart-shop-link"><i class="fas fa-shopping-bag"></i>
                                            <% if (typeof carts !== 'undefined' && carts.length > 0) { %>
                                                <span class="total-item-round">
                                                    <%=`${carts.length}`%>
                                                </span>
                                            <% } %>
                                        </a>

                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <div class="mini-cart">
                                            <% if (typeof carts !== 'undefined' && carts.length > 0) { %>
                                                <div class="mini-product-container gl-scroll u-s-m-b-15">
                                                <% carts.forEach((carts_product) => { %>
                                            <!--====== Mini Product Container ======-->
                                                        <!--====== Card for mini cart ======-->
                                                        
                                                            <div class="card-mini-product">
                                                                <div class="mini-product">
                                                                <div class="mini-product__image-wrapper">
                                                                    <a class="mini-product__link" href="product-detail.html">
                                                                    <img class="u-img-fluid" src="/Pro_upload/<%=`${carts_product.product.Pro_image}`%>" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="mini-product__info-wrapper">
                                                                    <span class="mini-product__category">
                                                                    <a href="shop-side-version-2.html"><%=`${carts_product.product.Pro_subcategory.subcate_name}`%></a>
                                                                    </span>
                                                                    <span class="mini-product__name">
                                                                    <a href="product-detail.html"><%=`${carts_product.product.Pro_name}`%></a>
                                                                    </span>
                                                                    <span class="mini-product__quantity"><%=`${carts_product.quantity}`%> x</span>
                                                                    <span class="mini-product__price"><%=`${carts_product.product.Pro_rentprice}`%> FCFA</span>
                                                                </div>
                                                                </div>
                                                                <a class="mini-product__delete-link far fa-trash-alt" onclick="deleteProduct('<%= carts_product.product._id %>')"></a>
                                                            </div>
                                                            
                                                        <!--====== End - Card for mini cart ======-->
                                            <!--====== End - Mini Product Container ======-->
                                                <% }) %>
                                                </div>
                                                <!--====== Mini Product Statistics ======-->
                                                <div class="mini-product-stat">
                                                    <div class="mini-total">

                                                        <span class="subtotal-text">TOTAL</span>

                                                        <span class="subtotal-value"><%=`${total}`%>FCFA</span></div>
                                                    <div class="mini-action">

                                                        <a class="mini-link btn--e-brand-b-2" href="/user/checkout">PROCEDER AU PAYEMENT</a>

                                                        <a class="mini-link btn--e-transparent-secondary-b-2" href="/cart">VOIR LE PANIER</a></div>
                                                </div>
                                            <!--====== End - Mini Product Statistics ======-->
                                            <% } %>              
                                        </div>
                                        <!--====== End - Dropdown ======-->
                                    </li>
                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>
                        <!--====== End - Dropdown Main plugin ======-->
                    </div>
                    <!--====== End - Secondary Nav ======-->
                </div>
            </nav>
            <!--====== End - Nav 2 ======-->
        </header>
        <script>
            function logout() {
              // Créer une requête POST
              var xhr = new XMLHttpRequest();
              xhr.open("POST", "/signout", true);
              
              // Définir le type de contenu de la requête
              xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
              
              // Envoyer la requête
              xhr.send();
            }
          </script>
        <!--====== End - Main Header ======-->