<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include("partials/head") %>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="images/preloader.png" alt=""></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <%- include("partials/header") %>
        <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/accueil">Accuei</a></li>
                                    <li class="is-marked">

                                        <a href="/cart">Panier</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">MON PANIER</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                                <div class="table-responsive">
                                    <table class="table-p">
                                        <tbody>

                                            <!--====== Row ======-->
                                            <% (carts).forEach((carts_product) =>{ %>
                                                <tr>
                                                    <td>
                                                        <div class="table-p__box">
                                                            <div class="table-p__img-wrap">

                                                                <img class="u-img-fluid" src="/Pro_upload/<%=`${carts_product.product.Pro_image}`%>" alt=""></div>
                                                            <div class="table-p__info">

                                                                <span class="table-p__name">

                                                                    <a href="/articles/<%=`${carts_product.product._id}`%>"><%=`${carts_product.product.Pro_name}`%></a></span>

                                                                <span class="table-p__category">

                                                                    <a href="/articles?subcategoryId=<%=`${carts_product.product.Pro_subcategory._id}`%>"><%=`${carts_product.product.Pro_subcategory.subcate_name}`%></a></span>
                                                                <!-- <ul class="table-p__variant-list">
                                                                    <li>

                                                                        <span>Size: 22</span></li>
                                                                    <li>

                                                                        <span>Color: Red</span></li>
                                                                </ul> -->
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>

                                                        <span class="table-p__price"><%=`${carts_product.product.Pro_rentprice}`%>FCFA</span></td>
                                                    <td>
                                                        <div class="table-p__input-counter-wrap">

                                                            <!--====== Input Counter ======-->
                                                            <div class="input-counter">

                                                                <span class="input-counter__minus fas fa-minus"></span>

                                                                <input class="input-counter__text input-counter--text-primary-style" type="text" value="<%=`${carts_product.quantity}`%>" data-min="1" data-max="1000">

                                                                <span class="input-counter__plus fas fa-plus"></span></div>
                                                            <!--====== End - Input Counter ======-->
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="table-p__del-wrap">

                                                            <a class="far fa-trash-alt table-p__delete-link" href="#" onclick="deleteProduct('<%= carts_product.product._id %>')"></a></div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                            <!--====== End - Row ======-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="route-box">
                                   <div class="route-box__g1">
                                      <a class="route-box__link" href="/articles"><i class="fas fa-long-arrow-alt-left"></i>
                                      <span>CONTINUER MES ACHATS</span></a>
                                   </div>
                                   <div class="route-box__g2">
                                      <a class="route-box__link" href="#" id="clear-cart-btn"><i class="fas fa-trash"></i><span>VIDER LE PANIER</span></a>
                                      <a class="route-box__link" href="/cart"><i class="fas fa-sync"></i><span>METTRE A JOUR LE PANIER</span></a>
                                   </div>
                                </div>
                            </div>
                             
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->


            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                                <form class="f-cart" method="POST"
                                action="/user/checkout">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                            <div class="f-cart__pad-box">
                                                <h1 class="gl-h1">ESTIMER LES FRAIS DE LIVRAISON</h1>

                                                <span class="gl-text u-s-m-b-30">Renseignez votre adresse de livraison pour avoir une estimation des frais de livraison.</span>
                                                <div class="u-s-m-b-30">

                                                    <!--====== Select Box ======-->

                                                    <label class="gl-label" for="shipping-country">PAYS *</label><select class="select-box select-box--primary-style" id="shipping-country">
                                                        <option selected value="Burkina-Faso">Burkina-Faso</option>
                                                    </select>
                                                    <!--====== End - Select Box ======-->
                                                </div>
                                                <div class="u-s-m-b-30">
                                                    <% if (typeof(cost) !== "undefined" ) { %>
                                                        <!--====== Select Box - Ville ======-->
                                                        <label class="gl-label" for="shipping-city">Ville *</label>
                                                        <select class="select-box select-box--primary-style" id="shipping-city" name="city">
                                                            <option selected value="<%=city._id%>"> <%=city.name %></option>
                                                            <% addresses.forEach(function(address) { %>
                                                                <option value="<%= address._id %>"><%= address.name %></option>
                                                            <% }); %>
                                                        </select>
                                                        <label class="gl-label" for="shipping-locality">Localité *</label>
                                                        <select class="select-box select-box--primary-style" id="shipping-locality" name="locality" readonly >
                                                            <option selected value="<%=locality._id%>"><%=locality.name%></option>
                                                            <% addresses.forEach(function(address) { %>
                                                                <% address.localities.forEach(function(locality) { %>
                                                                    <option data-city="<%= address._id %>" value="<%= locality._id %>"><%= locality.name %></option>
                                                                <% }); %>
                                                            <% }); %>
                                                        </select>
                                                    <% }else { %>
                                                    <!--====== Select Box - Ville ======-->
                                                    <label class="gl-label" for="shipping-city">Ville *</label>
                                                    <select class="select-box select-box--primary-style" id="shipping-city" name="city">
                                                        <option selected value="">Veuillez choisir une ville</option>
                                                        <% addresses.forEach(function(address) { %>
                                                            <option value="<%= address._id %>"><%= address.name %></option>
                                                        <% }); %>
                                                    </select>
                                                
                                                    <!--====== Select Box - Localité ======-->
                                                    <label class="gl-label" for="shipping-locality">Localité *</label>
                                                    <select class="select-box select-box--primary-style" id="shipping-locality" name="locality" disabled>
                                                        <option selected value="">Veuillez choisir une localité</option>
                                                        <% addresses.forEach(function(address) { %>
                                                            <% address.localities.forEach(function(locality) { %>
                                                                <option data-city="<%= address._id %>" value="<%= locality._id %>"><%= locality.name %></option>
                                                            <% }); %>
                                                        <% }); %>
                                                    </select>
                                                    <!--====== End - Select Box ======-->
                                                    <% } %>
                                                </div>
                                                
                                                <div class="u-s-m-b-30">
                                                    <a id="calculateShippingBtn" class="f-cart__ship-link btn--e-transparent-brand-b-2" href="#">CALCULER LES FRAIS DE LIVRAISON</a>
                                                </div>
                                                <span class="gl-text">Info: Notez que la livraison n'est pas encore disponible dans certaines  villes ou localités.
                                                    Nous oeuvrons pour agrandir le plus possible la liste des lieux de livraison.   
                                               .</span>
                                            </div>
                                        </div>
                                        <% if (typeof(cost) !== "undefined" ) { %>
                                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                                <div class="f-cart__pad-box">
                                                    <div class="u-s-m-b-30">
                                                        <table class="f-cart__table">
                                                            <tbody>
                                                                
                                                                    <tr>
                                                                        <td>TOTAL</td>
                                                                        <td><%=`${total}`%> FCFA</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>LIVRAISON</td>
                                                                        <td><%=`${cost}`%> FCFA</td>
                                                                    </tr>
                                                                    
                                                                    <tr>
                                                                        <td>GRAND TOTAL</td>
                                                                        <td><%=`${grandTotal}`%> FCFA</td>
                                                                    </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div>
                                                        <button class="btn btn--e-brand-b-2" type="submit"> PASSER A LA CAISSE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }%>
                                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                            <div class="f-cart__pad-box">
                                                <h1 class="gl-h1">NOTE</h1>

                                                <span class="gl-text u-s-m-b-30">Ajoutez une note spéciale pour votre produit</span>
                                                <div>

                                                    <label for="f-cart-note"></label><textarea class="text-area text-area--primary-style" id="f-cart-note"></textarea></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 3 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
        <%- include("partials/footer") %>
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <%- include("partials/scripts") %>
    <script>
        // Stocker toutes les localités au début
        const allLocalities = Array.from(document.querySelectorAll('#shipping-locality option[data-city]'));

        // JavaScript pour mettre à jour la liste des localités en fonction de la ville sélectionnée
        document.getElementById('shipping-city').addEventListener('change', function () {
            const selectedCity = this.value;
            const localitySelect = document.getElementById('shipping-locality');

            // Réinitialiser la liste des localités
            localitySelect.innerHTML = '<option selected value="">Veuillez choisir une localité</option>';

            // Filtrer les localités en fonction de la ville sélectionnée
            allLocalities.forEach(function (locality) {
                if (locality.getAttribute('data-city') === selectedCity) {
                    localitySelect.appendChild(locality.cloneNode(true));
                }
            });

            // Activer le champ des localités s'il y a une ville sélectionnée
            localitySelect.disabled = !selectedCity;
        });
    </script>
    <script>
        // document.addEventListener('DOMContentLoaded', function () {
        //     const localitySelect = document.getElementById('shipping-locality');
        //     const calculateShippingBtn = document.getElementById('calculateShippingBtn');
    
        //     localitySelect.addEventListener('change', function () {
        //         const selectedLocality = localitySelect.value;
    
        //         // Vérifiez si une localité est sélectionnée
        //         if (selectedLocality) {
        //             // Envoyez une requête POST vers la route spécifiée avec la valeur de la localité
        //             fetch('/cost', {
        //                 method: 'POST',
        //                 headers: {
        //                     'Content-Type': 'application/json',
        //                 },
        //                 body: JSON.stringify({ localityId: selectedLocality }),
        //             })
        //             .then(response => response.json())
        //             .then(data => {
        //                 // Traitez la réponse si nécessaire
        //                 console.log(data);
        //                 window.location.href = `/cart?cost=${data.cost}`;
        //             })
        //             .catch(error => console.error('Error:', error));
        //         }
        //     });
    
        //     // Ajoutez un gestionnaire d'événements pour le bouton de calcul
        //     calculateShippingBtn.addEventListener('click', function (event) {
        //         event.preventDefault(); // Empêche le comportement de lien par défaut
        //         localitySelect.dispatchEvent(new Event('change')); // Déclenche le changement d'événement manuellement
        //     });
        // });
        document.addEventListener('DOMContentLoaded', function () {
        const localitySelect = document.getElementById('shipping-locality');
        const calculateShippingBtn = document.getElementById('calculateShippingBtn');

        calculateShippingBtn.addEventListener('click', function (event) {
            event.preventDefault(); // Empêche le comportement de lien par défaut

            const selectedLocality = localitySelect.value;

            // Vérifiez si une localité est sélectionnée
            if (selectedLocality) {
                // Envoyez une requête POST vers la route spécifiée avec la valeur de la localité
                fetch('/cost', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ localityId: selectedLocality }),
                })
                .then(response => response.json())
                .then(data => {
                    // Traitez la réponse si nécessaire
                    console.log(data);
                    window.location.href = `/cart?cost=${data.cost}&chosen_city=${data.chosen_city}&chosen_locality=${data.chosen_locality}`;
                })
                .catch(error => console.error('Error:', error));
            }
        });
    });

    </script>
</body>
</html>