<html class="no-js" lang="en">
<%- include("partials/head") %>
	<body class="config">
		<div class="preloader is-active">
			<div class="preloader__wrap">

				<img class="preloader__img" src="images/preloader.png" alt=""></div>
		</div>

		<!--====== Main App ======-->
		<div id="app">

			<!--====== Main Header ======-->
			<%- include("partials/header") %>
			<!--====== End - Main Header ======-->


			<!--====== App Content ======-->
			<div class="app-content">

				<!--====== Section 1 ======-->
				<div class="u-s-p-y-90">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-12">
								<div class="shop-w-master">
									<h1 class="shop-w-master__heading u-s-m-b-30"><i class="fas fa-filter u-s-m-r-8"></i>

										<span>FILTRES</span></h1>
									<div class="shop-w-master__sidebar">
										<div class="u-s-m-b-30">
											<div class="shop-w shop-w--style">
												<div class="shop-w__intro-wrap">
													<h1 class="shop-w__h">CATEGORIES</h1>

													<span class="fas fa-minus shop-w__toggle" data-target="#s-category" data-toggle="collapse"></span>
												</div>
												
											    <div class="shop-w__wrap collapse" id="s-category">
													<ul class="shop-w__category-list gl-scroll">
														<% categories.forEach(function(category) { %>
															<li class="has-list">
																<a href="#"><%= category.name %></a>
																<span class="js-shop-category-span is-expanded fas fa-plus u-s-m-l-6"></span>
																<ul style="display:block">
																	<% category.subcategories.forEach(function(subcategory) { %>
																		<li>
																			<a href="/articles?subcategoryId=<%= subcategory._id %>"><%= subcategory.subcate_name %></a>
																		</li>
																	<% }) %>
																</ul>
															</li>
														<% }) %>
													</ul>
												</div>												
												
											</div>
										</div>
										<!-- <div class="u-s-m-b-30">
											<div class="shop-w shop-w--style">
												<div class="shop-w__intro-wrap">
													<h1 class="shop-w__h">RATING</h1>

													<span class="fas fa-minus shop-w__toggle" data-target="#s-rating" data-toggle="collapse"></span>
												</div>
												<div class="shop-w__wrap collapse show" id="s-rating">
													<ul class="shop-w__list gl-scroll">
														<li>
															<div class="rating__check">

																<input type="checkbox">
																<div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
															</div>

															<span class="shop-w__total-text">(2)</span>
														</li>
														<li>
															<div class="rating__check">

																<input type="checkbox">
																<div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

																	<span>& Up</span></div>
															</div>

															<span class="shop-w__total-text">(8)</span>
														</li>
														<li>
															<div class="rating__check">

																<input type="checkbox">
																<div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

																	<span>& Up</span></div>
															</div>

															<span class="shop-w__total-text">(10)</span>
														</li>
														<li>
															<div class="rating__check">

																<input type="checkbox">
																<div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

																	<span>& Up</span></div>
															</div>

															<span class="shop-w__total-text">(12)</span>
														</li>
														<li>
															<div class="rating__check">

																<input type="checkbox">
																<div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

																	<span>& Up</span></div>
															</div>

															<span class="shop-w__total-text">(1)</span>
														</li>
													</ul>
												</div>
											</div>
										</div>										 -->
									</div>
								</div>
							</div>
							<div class="col-lg-9 col-md-12">
								<div class="shop-p">
									<div class="shop-p__toolbar u-s-m-b-30">
										<div class="shop-p__meta-wrap u-s-m-b-60">
											<% if(query) { %>

												<span class="shop-p__meta-text-1">
												  <%= products.length %> RESULTATS POUR "<%= search %>"
												</span>
												<div class="shop-p__meta-text-2">

													<!-- <span>Recherches liées:</span>

													<a class="gl-tag btn--e-brand-shadow" href="#">men's clothing</a>

													<a class="gl-tag btn--e-brand-shadow" href="#">mobiles & tablets</a>

													<a class="gl-tag btn--e-brand-shadow" href="#">books & audible</a> -->
												</div>
											  
											  <% } else { %>
											  
												<span class="shop-p__meta-text-1">
												  All Products
												</span>
											  
											  <% } %>
											
										</div>
										<div class="shop-p__tool-style">
											<div class="tool-style__group u-s-m-b-8">

												<span class="js-shop-grid-target is-active">Grille</span>

												<span class="js-shop-list-target">Liste</span></div>
											<!-- <form>
												<div class="tool-style__form-wrap">
													<div class="u-s-m-b-8"><select class="select-box select-box--transparent-b-2">
															<option>Show: 8</option>
															<option selected>Show: 12</option>
															<option>Show: 16</option>
															<option>Show: 28</option>
														</select></div>
													<div class="u-s-m-b-8"><select class="select-box select-box--transparent-b-2">
															<option selected>Sort By: Newest Items</option>
															<option>Sort By: Latest Items</option>
															<option>Sort By: Best Selling</option>
															<option>Sort By: Best Rating</option>
															<option>Sort By: Lowest Price</option>
															<option>Sort By: Highest Price</option>
														</select></div>
												</div>
											</form> -->
										</div>
									</div>
									<div class="shop-p__collection">
										<div class="row is-grid-active">
											<% let i = 0; %>
											<% let j = 0; %>
											<% products.forEach((products) =>{ %>
												
												<div class="col-lg-4 col-md-6 col-sm-6">
													<div class="product-m">
														<div class="product-m__thumb">
															<a class="aspect aspect--bg-grey aspect--square u-d-block" href="/articles/<%= `${products.id}` %>">
																<img class="aspect__img" src="/Pro_upload/<%=`${products.Pro_image}`%>" alt="">
															</a>
															<div class="product-m__quick-look">
																<a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look-<%= i %>" data-tooltip="tooltip" data-placement="top" title="Quick Look" type="button" data-dismiss="modal" ></a>
															    <% i++; %>
															</div>
															<form class="pd-detail__form" action="/add-to-cart" method="POST">
																<div class="product-m__add-cart">
																	<input type="hidden" name="productID" value="<%= `${products.id}` %>">
																	<input type="hidden" name="quantity" value="1">
																	<button class="btn--e-brand" data-modal="modal" type="submit">Ajouter au panier</button>
																</div>
														    </form>
														</div>
														<div class="product-m__content">
															<div class="product-m__category">
																<a href="/articles?subcategoryId=<%= products.Pro_subcategory._id %>"><%= `${products.Pro_subcategory.subcate_name}` %></a>
															</div>
															<div class="product-m__name">
																<a href="/articles/<%= `${products.id}` %>"><%= `${products.Pro_name}` %></a>
															</div>
															<div class="product-m__rating gl-rating-style">
																<div class="review-o__rating gl-rating-style u-s-m-b-8">
																	<% let fullStars = Math.floor(products.Rate); %>
																	<% let halfStar = products.Rate % 1 !== 0 ? 1 : 0; %>
																	<% let emptyStars = 5 - fullStars - halfStar; %>
		
																	<% for(let i = 0; i < fullStars; i++) { %>
																	<i class="fas fa-star"></i> <!-- Étoile pleine -->
																	<% } %>
		
																	<% if(halfStar) { %>
																	<i class="fas fa-star-half-alt"></i> <!-- Étoile à moitié pleine -->
																	<% } %>
		
																	<% for(let i = 0; i < emptyStars; i++) { %>
																	<i class="far fa-star"></i> <!-- Étoile vide -->
																	<% } %>
																</div>
																<span class="product-m__review">(<%= `${products.Rate}` %>)</span>
															</div>
															<div class="product-m__price"><%= `${products.Pro_rentprice}` %>FCFA</div>
															<div class="product-m__hover">
																<div class="product-m__preview-description">
																	<span><%= `${products.Pro_description}` %></span>
																</div>
																<div class="product-m__wishlist">
																	<a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="modal fade quick-look" id="quick-look-<%= j%>">
													
													<div class="modal-dialog modal-dialog-centered">
														<div class="modal-content modal--shadow">
									
															<button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
															<div class="modal-body">
																<div class="row">
																	<div class="col-lg-5">
									
																		<!--====== Product Breadcrumb ======-->
																		<div class="pd-breadcrumb u-s-m-b-30">
																			<ul class="pd-breadcrumb__list">
																				<li class="has-separator">
									
																					<a href="index.hml">Home</a></li>
																				<li class="has-separator">
									
																					<a href="shop-side-version-2.html">Electronics</a></li>
																				<li class="has-separator">
									
																					<a href="shop-side-version-2.html">DSLR Cameras</a></li>
																				<li class="is-marked">
									
																					<a href="shop-side-version-2.html">Nikon Cameras</a></li>
																			</ul>
																		</div>
																		<!--====== End - Product Breadcrumb ======-->
									
									
																		<!--====== Product Detail ======-->
																		<div class="pd u-s-m-b-30">
																			<div class="pd-wrap">
																				<div id="js-product-detail-modal">
																					<div>
									
																						<img class="u-img-fluid" src="/Pro_upload/<%=`${products.Pro_image}`%>" alt=""></div>
																					<div>
									
																						<img class="u-img-fluid" src="images/product/product-d-2.jpg" alt=""></div>
																					<div>
									
																						<img class="u-img-fluid" src="images/product/product-d-3.jpg" alt=""></div>
																					<div>
									
																						<img class="u-img-fluid" src="images/product/product-d-4.jpg" alt=""></div>
																					<div>
									
																						<img class="u-img-fluid" src="images/product/product-d-5.jpg" alt=""></div>
																				</div>
																			</div>
																			<div class="u-s-m-t-15">
																				<div id="js-product-detail-modal-thumbnail">
																					<div>
									
																						<img class="u-img-fluid" src="images/product/product-d-2.jpg" alt=""></div>
																					<div>
									
																						<img class="u-img-fluid" src="images/product/product-d-2.jpg" alt=""></div>
																					<div>
									
																						<img class="u-img-fluid" src="images/product/product-d-3.jpg" alt=""></div>
																					<div>
									
																						<img class="u-img-fluid" src="images/product/product-d-4.jpg" alt=""></div>
																					<div>
									
																						<img class="u-img-fluid" src="images/product/product-d-5.jpg" alt=""></div>
																				</div>
																			</div>
																		</div>
																		<!--====== End - Product Detail ======-->
																	</div>
																	<div class="col-lg-7">
									
																		<!--====== Product Right Side Details ======-->
																		<div class="pd-detail">
																			<div>
									
																				<span class="pd-detail__name" class="product-name"><%=`${products.Pro_name}`%></span></div>
																			<div>
																				<div class="pd-detail__inline">
									
																					<span class="pd-detail__price" class="product-price"><%=`${products.Pro_ammount}`%></span>
									
																					<span class="pd-detail__discount">(76% OFF)</span><del class="pd-detail__del">$<%=`${products.Pro_rentprice}`%></del></div>
																			</div>
																			<div class="u-s-m-b-15">
																				<div class="pd-detail__rating gl-rating-style">
																					<% for(let i = 0; i < fullStars; i++) { %>
																					<i class="fas fa-star"></i> <!-- Étoile pleine -->
																					<% } %>
						
																					<% if(halfStar) { %>
																					<i class="fas fa-star-half-alt"></i> <!-- Étoile à moitié pleine -->
																					<% } %>
						
																					<% for(let i = 0; i < emptyStars; i++) { %>
																					<i class="far fa-star"></i> <!-- Étoile vide -->
																					<% } %>
									
																					<span class="pd-detail__review u-s-m-l-4">
									
																						<a href="product-detail.html"><%=`${products.Rater}`%> Avis</a></span></div>
																			</div>
																			<div class="u-s-m-b-15">
																				<div class="pd-detail__inline">
									
																					<span class="pd-detail__stock"><%=`${products.Pro_quantity}`%> en stock</span>
									
																					<span class="pd-detail__left">Il ne reste plus que <%=`${products.Pro_quantity}`%></span></div>
																			</div>
																			<div class="u-s-m-b-15">
									
																				<span class="pd-detail__preview-desc"><%=`${products.Pro_description}`%></span></div>
																			<div class="u-s-m-b-15">
																				<div class="pd-detail__inline">
									
																					<span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>
									
																						<a href="signin.html">Ajouter à ma liste de souhait</a>
									
																						<span class="pd-detail__click-count">(222)</span></span></div>
																			</div>
																			<div class="u-s-m-b-15">
																				
																			</div>
																			<div class="u-s-m-b-15">
																				<ul class="pd-social-list">
																					<li>
									
																						<a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
																					<li>
									
																						<a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
																					<li>
									
																						<a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
																					<li>
									
																						<a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a></li>
																					<li>
									
																						<a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
																				</ul>
																			</div>
																			<div class="u-s-m-b-15">
																				<form class="pd-detail__form">
																					<div class="pd-detail-inline-2">
																						<div class="u-s-m-b-15">
									
																							<!--====== Input Counter ======-->
																							<div class="input-counter">
									
																								<span class="input-counter__minus fas fa-minus"></span>
									
																								<input class="input-counter__text input-counter--text-primary-style" type="text" value="1" data-min="1" data-max="1000">
									
																								<span class="input-counter__plus fas fa-plus"></span></div>
																							<!--====== End - Input Counter ======-->
																						</div>
																						<div class="u-s-m-b-15">
									
																							<button class="btn btn--e-brand-b-2" type="submit">Ajouter au panier</button></div>
																					</div>
																				</form>
																			</div>
																			<div class="u-s-m-b-15">
									
																				<span class="pd-detail__label u-s-m-b-8">Politique du produit:</span>
																				<ul class="pd-detail__policy-list">
																					<li><i class="fas fa-check-circle u-s-m-r-8"></i>
									
																						<span>Protection de l'acheteur.</span></li>
																					<li><i class="fas fa-check-circle u-s-m-r-8"></i>
									
																						<span>Remboursement complète si la commande n'a pas été livrée.</span></li>
																					<li><i class="fas fa-check-circle u-s-m-r-8"></i>
									
																						<span>Retour de produit accepté si le produit ne correspond pas à la description.</span></li>
																				</ul>
																			</div>
																		</div>
																		<!--====== End - Product Right Side Details ======-->
																	</div>
																</div>
															</div>
														</div>
													</div>
													<% j++;%>
												</div>
												<div class="modal fade" id="add-to-cart">
													<div class="modal-dialog modal-dialog-centered">
														<div class="modal-content modal-radius modal-shadow">
									
															<button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"
																	data-name="Nom du produit" data-description="Description du produit" 
																	data-price="Prix du produit" ></button>
															<div class="modal-body">
																<div class="row">
																	<div class="col-lg-6 col-md-12">
																		<div class="success u-s-m-b-30">
																			<div class="success__text-wrap"><i class="fas fa-check"></i>
									
																				<span>Produit ajouté au panier avec succès</span></div>
																			<div class="success__img-wrap">
									
																				<img class="u-img-fluid" src="images/product/electronic/product1.jpg" alt=""></div>
																			<div class="success__info-wrap">
									
																				<span class="success__name"><%= `${products.Pro_name}` %></span>
									
																				<span class="success__quantity">Quantité: 1</span>
									
																				<span class="success__price">$<%= `${products.Pro_rentprice}` %></span></div>
																		</div>
																	</div>
																	<div class="col-lg-6 col-md-12">
																		<div class="s-option">
									
																			<span class="s-option__text">1 item (s) in your cart</span>
																			<div class="s-option__link-box">
									
																				<a class="s-option__link btn--e-white-brand-shadow" data-dismiss="modal">CONTINUER VOS ACHATS</a>
									
																				<a class="s-option__link btn--e-white-brand-shadow" href="/cart">VOIR LE PANIER</a>
									
																				<a class="s-option__link btn--e-brand-shadow" href="/user/checkout">PROCEDER AU PAYEMENT</a></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											<% }) %>
										</div>
									</div>
									<div class="u-s-p-y-60">
										<!--====== Pagination ======-->
										<ul class="shop-p__pagination">
											<% for(let i = 1; i <= totalPages; i++) { %>
												<li class="<% if(i === parseInt(currentPage)) { %>is-active<% } %>">
													<a href="?page=<%= i %>"><%= i %></a>
												</li>
											<% } %>
											<% if(currentPage < totalPages) { %>
												<li>
													<a class="fas fa-angle-right" href="?page=<%= parseInt(currentPage) + 1 %>"></a>
												</li>
											<% } %>
										</ul>
										<!--====== End - Pagination ======-->
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--====== End - Section 1 ======-->
			</div>
			<!--====== End - App Content ======-->


			<!--====== Main Footer ======-->
			<%- include("partials/footer") %>

			<!--====== Modal Section ======-->


			<!--====== Quick Look Modal ======-->
			<div class="modal fade" id="quick-look">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content modal--shadow">

						<button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-5">

									<!--====== Product Breadcrumb ======-->
									<div class="pd-breadcrumb u-s-m-b-30">
										<ul class="pd-breadcrumb__list">
											<li class="has-separator">

												<a href="index.hml">Home</a></li>
											<li class="has-separator">

												<a href="shop-side-version-2.html">Electronics</a></li>
											<li class="has-separator">

												<a href="shop-side-version-2.html">DSLR Cameras</a></li>
											<li class="is-marked">

												<a href="shop-side-version-2.html">Nikon Cameras</a></li>
										</ul>
									</div>
									<!--====== End - Product Breadcrumb ======-->


									<!--====== Product Detail ======-->
									<div class="pd u-s-m-b-30">
										<div class="pd-wrap">
											<div id="js-product-detail-modal">
												<div>

													<img class="u-img-fluid" src="images/product/product-d-1.jpg" alt=""></div>
												<div>

													<img class="u-img-fluid" src="images/product/product-d-2.jpg" alt=""></div>
												<div>

													<img class="u-img-fluid" src="images/product/product-d-3.jpg" alt=""></div>
												<div>

													<img class="u-img-fluid" src="images/product/product-d-4.jpg" alt=""></div>
												<div>

													<img class="u-img-fluid" src="images/product/product-d-5.jpg" alt=""></div>
											</div>
										</div>
										<div class="u-s-m-t-15">
											<div id="js-product-detail-modal-thumbnail">
												<div>

													<img class="u-img-fluid" src="images/product/product-d-1.jpg" alt=""></div>
												<div>

													<img class="u-img-fluid" src="images/product/product-d-2.jpg" alt=""></div>
												<div>

													<img class="u-img-fluid" src="images/product/product-d-3.jpg" alt=""></div>
												<div>

													<img class="u-img-fluid" src="images/product/product-d-4.jpg" alt=""></div>
												<div>

													<img class="u-img-fluid" src="images/product/product-d-5.jpg" alt=""></div>
											</div>
										</div>
									</div>
									<!--====== End - Product Detail ======-->
								</div>
								<div class="col-lg-7">

									<!--====== Product Right Side Details ======-->
									<div class="pd-detail">
										<div>

											<span class="pd-detail__name" class="product-name"></span></div>
										<div>
											<div class="pd-detail__inline">

												<span class="pd-detail__price" class="product-name"></span>

												<span class="pd-detail__discount">(76% OFF)</span><del class="pd-detail__del">$28.97</del></div>
										</div>
										<div class="u-s-m-b-15">
											<div class="pd-detail__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

												<span class="pd-detail__review u-s-m-l-4">

													<a href="product-detail.html">23 Reviews</a></span></div>
										</div>
										<div class="u-s-m-b-15">
											<div class="pd-detail__inline">

												<span class="pd-detail__stock">200 in stock</span>

												<span class="pd-detail__left">Only 2 left</span></div>
										</div>
										<div class="u-s-m-b-15">

											<span class="pd-detail__preview-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></div>
										<div class="u-s-m-b-15">
											<div class="pd-detail__inline">

												<span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>

													<a href="signin.html">Add to Wishlist</a>

													<span class="pd-detail__click-count">(222)</span></span></div>
										</div>
										<div class="u-s-m-b-15">
											<div class="pd-detail__inline">

												<span class="pd-detail__click-wrap"><i class="far fa-envelope u-s-m-r-6"></i>

													<a href="signin.html">Email me When the price drops</a>

													<span class="pd-detail__click-count">(20)</span></span></div>
										</div>
										<div class="u-s-m-b-15">
											<ul class="pd-social-list">
												<li>

													<a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
												<li>

													<a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
												<li>

													<a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
												<li>

													<a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a></li>
												<li>

													<a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
										</div>
										<div class="u-s-m-b-15">
											<form class="pd-detail__form">
												<div class="pd-detail-inline-2">
													<div class="u-s-m-b-15">

														<!--====== Input Counter ======-->
														<div class="input-counter">

															<span class="input-counter__minus fas fa-minus"></span>

															<input class="input-counter__text input-counter--text-primary-style" type="text" value="1" data-min="1" data-max="1000">

															<span class="input-counter__plus fas fa-plus"></span></div>
														<!--====== End - Input Counter ======-->
													</div>
													<div class="u-s-m-b-15">

														<button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button></div>
												</div>
											</form>
										</div>
										<div class="u-s-m-b-15">

											<span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
											<ul class="pd-detail__policy-list">
												<li><i class="fas fa-check-circle u-s-m-r-8"></i>

													<span>Buyer Protection.</span></li>
												<li><i class="fas fa-check-circle u-s-m-r-8"></i>

													<span>Full Refund if you don't receive your order.</span></li>
												<li><i class="fas fa-check-circle u-s-m-r-8"></i>

													<span>Returns accepted if product not as described.</span></li>
											</ul>
										</div>
									</div>
									<!--====== End - Product Right Side Details ======-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--====== End - Quick Look Modal ======-->


			<!--====== Add to Cart Modal ======-->
			<div class="modal fade" id="add-to-cart">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content modal-radius modal-shadow">

						<button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"
								data-name="Nom du produit" data-description="Description du produit" 
								data-price="Prix du produit" ></button>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="success u-s-m-b-30">
										<div class="success__text-wrap"><i class="fas fa-check"></i>

											<span>Item is added successfully!</span></div>
										<div class="success__img-wrap">

											<img class="u-img-fluid" src="images/product/electronic/product1.jpg" alt=""></div>
										<div class="success__info-wrap">

											<span class="success__name">Beats Bomb Wireless Headphone</span>

											<span class="success__quantity">Quantity: 1</span>

											<span class="success__price">$170.00</span></div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="s-option">

										<span class="s-option__text">1 item (s) in your cart</span>
										<div class="s-option__link-box">

											<a class="s-option__link btn--e-white-brand-shadow" data-dismiss="modal">CONTINUE SHOPPING</a>

											<a class="s-option__link btn--e-white-brand-shadow" href="cart.html">VIEW CART</a>

											<a class="s-option__link btn--e-brand-shadow" href="checkout.html">PROCEED TO CHECKOUT</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--====== End - Add to Cart Modal ======-->
			<!--====== End - Modal Section ======-->
		</div>
		<!--====== End - Main App ======-->
        
		<%- include("partials/scripts") %>

		<!--====== Noscript ======-->
	</body>
</html>