<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include("partials/head") %>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="images/preloader.png" alt=""></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <%- include("partials/header") %>
        <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <% if (typeof errorMessage !== 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                  <%= errorMessage %>
                </div>
              <% } %>
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/accueil">Accueil</a></li>
                                    <li class="is-marked">

                                        <a href="/signup">S'inscrire</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">CREER UN COMPTE</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-6 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                        <h1 class="gl-h1">INFORMATIONS PERSONNELLES</h1>
                                        <form class="l-f-o__form" action="/signup" method="POST">
                                            <div class="gl-s-api">
                                                <!-- <div class="u-s-m-b-15">

                                                    <button class="gl-s-api__btn gl-s-api__btn--fb" type="button" ><i class="fab fa-facebook-f"></i>

                                                        <span>Signup with Facebook</span>
                                                    </button>
                                                </div>
                                                <div class="u-s-m-b-30">

                                                    <button class="gl-s-api__btn gl-s-api__btn--gplus" type="button" ><i class="fab fa-google"></i>

                                                        <span>Signup with Google</span>
                                                    </button>
                                                </div> -->
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-fname">PRENOM *</label>

                                                <input class="input-text input-text--primary-style" type="text" name="firstName" id="reg-fname" placeholder="Votre prénom"></div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-lname">NOM *</label>

                                                <input class="input-text input-text--primary-style" type="text" name="lastName" id="reg-lname" placeholder="Votre nom de famille"></div>
                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <!--====== Date of Birth Select-Box ======-->

                                                    <span class="gl-label">JOUR DE NAISSANCE</span>
                                                    <div class="gl-dob">
														<select class="select-box select-box--primary-style" name="birthMonth">
                                                            <option selected>Mois</option>
                                                                <option value="1">Janvier</option>
                                                                <option value="2">Février</option>
                                                                <option value="3">Mars</option>
                                                                <option value="4">Avril</option>
                                                                <option value="5">Mai</option>
                                                                <option value="6">Juin</option>
                                                                <option value="7">Juillet</option>
                                                                <option value="8">Août</option>
                                                                <option value="09">Septembre</option>
                                                                <option value="10">Octobre</option>
                                                                <option value="11">Novembre</option>
                                                                <option value="12">Décembre</option>
                                                        </select>
														<select class="select-box select-box--primary-style" name="birthDay">
                                                            <option selected>Jour</option>
                                                            <% for(let i = 1; i <= 31; i++) { %>
                                                                <option 
                                                                  value="<%= i %>"
                                                                >
                                                                  <%= i %>      
                                                                </option>
                                                            
                                                              <% } %>
                                                        </select>
														<select class="select-box select-box--primary-style" name="birthYear">
                                                            <% for(let i = 1960; i <= 2010; i++) { %>
    
                                                                <option 
                                                                  value="<%= i %>"    
                                                                >
                                                                  <%= i %>
                                                                </option>
                                                            
                                                            <% } %>
                                                        </select></div>
                                                    <!--====== End - Date of Birth Select-Box ======-->
                                                </div>
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="gender">SEXE</label><select class="select-box select-box--primary-style u-w-100" id="gender" name="gender">
                                                        <option selected>Select</option>
                                                        <option value="male">Homme</option>
                                                        <option value="male">Femme</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-email">E-MAIL *</label>

                                                <input class="input-text input-text--primary-style" type="text"  name="email" id="reg-email" placeholder="Entrez vos E-mail"></div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-password">MOT DE PASSE *</label>

                                                <input class="input-text input-text--primary-style" type="text" id="reg-password"
                                                 name="password"required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                 title="Doit contenir au moins un chiffre, une lettre majuscule, une lettre minuscule, et être d'au moins 8 caractères" placeholder="Entrer le mot de passe"></div>
                                            <div class="u-s-m-b-15">

                                                <button class="btn btn--e-transparent-brand-b-2" type="submit">S'ENREGISTRER</button></div>

                                            <a class="gl-link" href="/articles">Retourner au magasin </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
        <%- include("partials/footer") %>
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <%- include("partials/scripts") %>
</body>
</html>