<%-include('Admin_partial/header')-%>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title" style="margin-left:200px;padding-top:20px">
          <b>Liste des sous-catégories</b>
        </h3>
        <a href="/subcategory/add_subcategory"><button style=" margin-top: 20px;margin-right: 100px"class="btn btn-rounded btn-fw btn-gradient-primary btn-fw">Ajouter nouveau</button> </a>
        </div>
        <div class="col-lg-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                        <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Id de sous catégorie</th>        
                                    <th>Nom de la sous-catégorie</th>
                                    <th>Nom de la catégorie associée</th>       
                                    <th>Action</th>  
                                </tr>
                            </thead>
                            <% if(subcategory_array.length>0)  { %>
                            <tbody>
                                <%  for(var i=0;i<subcategory_array.length;i++)  { %>
                                <tr>
                                    <td><%=i+1  %></td>
                                    <td><%=subcategory_array[i].subcate_id %></td>
                                    <td><%=subcategory_array[i].subcate_name %></td>
                                    <td><%=subcategory_array[i]._category.cate_name %></td>
                                    <td>
                                            <a href="show/<%=subcategory_array[i]._id%>"> <img title="show" src="/images/icons/show.png"> </a>
                                            <a href="edit/<%=subcategory_array[i]._id%>"><img title="edit" src="/images/icons/edit.png"></a>
                                            <a href="delete/<%=subcategory_array[i]._id%>"><img title="delete" src="/images/icons/delete.png"></a>
                                    </td>
                                </tr>
                                <% } %>
                                <%  }   else    {%>
                                    <h2>Pas d'enregistrement trouvé</h2>
                                    <%  }   %>
                            </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="confirmModal" style="display: none;">
      <div class="modal" >
        <div class="modal-content">
          <h2>Confirmation de suppression</h2>
          <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
          <button id="confirmDelete" class="btn btn-primary btn-sm">Oui</button>
          <button id="cancelDelete" class="btn btn-danger btn-sm">Non</button>
        </div>
      </div>
    </div>
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <script src="../../vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/misc.js"></script>
<script src="/js/admin.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
</body>
<!-- Mirrored from www.urbanui.com/gleam/pages/tables/basic-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Sep 2018 06:27:35 GMT -->
</html>